<h1>My Projects</h1>
<div class="project-container">
  <div class="project">
    <img
      class="pic-pokemon"
      src="./assets/pokemon.png"
      alt="Pokemon Project Image"
    />
    <button class="project-button" (click)="navToProject('/login')">
      Pokemon Project
    </button>
  </div>
  <div class="project">
    <img class="pic-map" src="./assets/map.png" alt="My G-Map Project Image" />
    <button class="project-button" (click)="navToProject('/map')">
      My G-Map Project
    </button>
  </div>
</div>
