@import 'pokemons-variables.scss';

.card {
  width: 100px;
  border: 3px solid $card-border-color;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  background-color: $card-bg-color;
  height: 100px;

  &:hover {
    background-color: $hover-bg-color;
    cursor: pointer;
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  list-style: none;
}

.li-card {
  display: flex;
}

.searches {
  color: $searches-color;

  .five-recent-searches {
    font-weight: bold;
  }
}

.filter {
  margin: 20px 0;
  font-size: 16px;
  color: $filter-text-color;
  width: 100%;

  .filterType {
    width: 10%;
    padding: 10px;
    border: 1px solid $card-border-color;
    background-color: $filter-bg-color;
    color: $filter-text-color;
    cursor: pointer;
    font-size: 16px;
  }
}
