@import 'variables';

body {
  text-align: center;
  font-family: $font-family;
  background-color: $background-color;
}

.general-input {
  width: 200px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid $input-border-color;
  border-radius: 5px;
  margin: 10px;
  &:focus {
    outline: none;
    border-color: $input-focus-color;
  }
}

.general-button {
  padding: 0.5rem 1rem;
  background-color: $button-background-color;
  color: $button-color;
  border: $button-border-color;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;

  &:hover {
    background-color: $button-hover-color;
  }
}
