$font-family: 'Open Sans', sans-serif;
$background-color: rgb(232, 239, 241);
$input-border-color: #ccc;
$input-focus-color: #004b9b;
$button-background-color: #007bff;
$button-color: white;
$button-border-color: transparent;
$button-hover-color: #02458d;