$card-bg-color: #d9eff4;
$card-border-color: #0892b8;
$searches-color: rgb(120, 117, 117);

.card {
  width: 100px; 
  border: 3px solid $card-border-color;
  border-radius: 10px;
  padding: 20px;
  margin: 10px; 
  background-color: $card-bg-color;
  height: 100px;

  &:hover {
    background-color: #d1dbd2;
    cursor: pointer;
  }
}
  .card-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    list-style: none;
  }

   .li-card{
    display: flex;
  }
  


.searches{
  color: $searches-color;

  .five-recent-searches{
    font-weight: bold;
  }
}

.filter{
  margin: 20px 0; 
  font-size: 16px; 
  color: #333333;
  width: 100%; 

  .filterType {
    width: 10%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    font-size: 16px;
  }

}