$card-bg-color: #d9eff4;
$card-border-color: #0892b8;
$searches-color: rgb(120, 117, 117);

.card {
  width: 100px; 
  border: 3px solid $card-border-color;
  border-radius: 10px;
  padding: 20px;
  margin: 10px; 
  background-color: $card-bg-color;
  height: 100px;

  &:hover {
    background-color: #d1dbd2;
    cursor: pointer;
  }
}

h2 {
  text-align: center; // Center the text within the h2 element
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  list-style: none;
}

li {
  display: flex;
}

.searches{
  color: $searches-color;
}

label{
  font-weight: bold;
}
