<h1>My G-Map</h1>
<input
  class="general-input search-map-input"
  id="autocomplete"
  placeholder="Enter a place"
  type="text"
/>
<button
  *ngIf="isLocation"
  class="general-button clear-button"
  (click)="removePlace()"
>
  CLEAR
</button>
<br />
<button
  *ngIf="!isWayShown; else removeWay"
  class="general-button"
  (click)="calcRoute()"
>
  Show My Way
</button>
<ng-template #removeWay>
  <button class="general-button" (click)="removeRoute()">
    Hide My Way
  </button></ng-template
>
<div id="map"></div>
