$clear-button-color: rgb(211, 67, 67);

 
 #map {
    width: 100%;
    height: 700px

  }
  .search-map-input{
    width: 500px;
  }
  .clear-button{
    background-color: $clear-button-color;    

  }
  